<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default `en-US` }}">
{{ partial "head.html" . }}
{{ partialCached "style.html" . }}

<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KC53FC79"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	{{ partialCached "preloader.html" . }}
	{{ .Scratch.Set "bg" "bg-tertiary"}}
	{{ partial "header.html" . }}
	{{ if not .IsHome }}
	{{ partial "page-header.html" . }}
	{{ end }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer.html" . }}
	{{ partialCached "script.html" . }}
</body>

</html>